  <section class="banner-carousel">
        {{!-- <div class="carousel-slide active">
            <img src="./static/images/Welcome to ShilpIndia.gif" alt="">
            {{!-- <div class="overlay"></div>
            <h2>Unique Finds, Made by Hand</h2> --}}
        </div> --}}
        <div class="carousel-slide active" style="background-image: url('./static/images/Welcome to ShilpIndia.gif');">
            <div class="overlay"></div>
            <h2>Unique Finds, Made by Hand</h2>
        </div>
        <div class="carousel-slide" style="background-image: url('./static/images/Rose\ Agate\ Timepiece\ Resin\ Wall\ Clock.png');">
            <div class="overlay"></div>
            <h2>Discover Beautiful Handmade Creations</h2>
        </div>
        <div class="carousel-slide" style="background-image: url('./static/images/Resin\ Earring.png');">
            <div class="overlay"></div>
            <h2>Treasures Crafted Just for You</h2>
        </div>
        <div class="carousel-slide" style="background-image: url('./static/images/Sun\ Moon\ Scented\ Candles.png');">
            <div class="overlay"></div>
            <h2>Crafted with Heart, Inspired by You</h2>
        </div>
        <div class="carousel-slide" style="background-image: url('./static/images/Resin\ Candle\ Holder.png');">
            <div class="overlay"></div>
            <h2>Made with Passion, Loved by All</h2>
        </div>
        
        
    </section>