<header class="header">
    <div class="header-row">
        <a href="/" class="header-logo">
            <img src="/static/images/Logo1.png" alt="Shilp India"/>
        </a>
        <div class="navbar-search-wrapper navbar-search-desktop">
            <form id="navbarSearchFormDesktop" class="navbar-search-form" action="/filtered-products" method="GET" autocomplete="off">
                <input type="text" name="search" id="navbarSearchInputDesktop" value="{{search}}" placeholder="Search for personalised gifts, special occasions gifts, birthday gifts & more.." />
                <button type="submit" id="navbarSearchBtnDesktop"><i class="hgi hgi-stroke hgi-search-01"></i></button>
            </form>
        </div>
        <div class="header-icons">
            {{#if user}}
                <a href="/profile" class="user-greeting">Hello, {{split user.name " " 0}}</a>
                <a href="/profile" class="auth-link"><i class="hgi hgi-stroke hgi-user"></i></a>
                <a href="/logout" class="auth-link"><i class="hgi hgi-stroke hgi-logout-03"></i></a>
            {{else}}
                <a href="/login" class="auth-link"><i class="hgi hgi-stroke hgi-user"></i></a>
            {{/if}}
        </div>
    </div>
    <div class="navbar-search-wrapper navbar-search-mobile">
        <form id="navbarSearchFormMobile" class="navbar-search-form" action="/filtered-products" method="GET" autocomplete="off">
            <input type="text" name="search" id="navbarSearchInputMobile" placeholder="Search for personalised gifts, special occasions gifts, birthday gifts and more.." />
            <button type="submit" id="navbarSearchBtnMobile"><i class="hgi hgi-stroke hgi-search-01"></i></button>
        </form>
    </div>
</header>
