<div class="tabs">
    <a class="tab active" href="filtered-products?search=">ALL</a>
    <a class="tab" href="filtered-products?search=mens">MENS</a>
    <a class="tab" href="filtered-products?search=womens">WOMENS</a>
    <a class="tab" href="filtered-products?search=gift">GIFTS</a>
    <a class="tab" href="filtered-products?search=birthday+gift">BIRTHDAY</a>
    <a class="tab" href="filtered-products?search=anniverasary+gift">ANNIVERSARY</a>
    <a class="tab" href="filtered-products?search=kids+gift">KIDS</a>
    <a class="tab" href="filtered-products?search=handmade">HANDMADE</a>
    <a class="tab" href="filtered-products?search=wood">WOODEN PRODUCTS</a>
</div>
