<div class="tabs">
    <span class="tab active" onclick="filterCategory('All')">ALL</span>
    <span class="tab" onclick="filterCategory('Mens')">MENS</span>
    <span class="tab" onclick="filterCategory('Womens')">WOMENS</span>
    <span class="tab" onclick="filterCategory('Accessories')">ACCESSORIES</span>
</div>
